extends /layouts/main

block append variables
  - let headTitle = error.title || t('error.401.title')
  - let layout_header_class = "main__header_center"
  - var themeEnabled = true

block content
  +b.error
    +e('h1').type= headTitle
    +e.code 401
    +e.text
      if error.description
        != error.description
      else
        != t('error.401.description')
