+e.content
  +e.formatted
    != task.content

  +e('button').solution(type="button")= t('tutorial.task.solution')

  +e.answer
    if (task.solution instanceof Array)
      each step, i in task.solution
        +e.step._open
          +e('button').step-show(type="button", onclick="showStep(this)")= step.title
          +e.answer-content
            +e('h4').step-title= step.title
            +e.formatted
              != step.content

    else
      +e.answer-content
        +e.formatted
          != task.solution

    +b('button').close-button.__answer-close(type="button", title=t('site.close'))
